In [ ]:
def calculate_ractangle_area(x,y):
    return x*y

In [ ]:
x=10
y=20
print('사각형 x의 길이:',x)
print('사각형 y의 길이:',y)
print('사각형의 넓이:',calculate_ractangle_area(x,y))

In [1]:
#call by value
def f(x):
    y=x
    x=5
    return x*y

In [2]:
x=3
print(f(x))
print(x)

15
3

In [16]:
#call by reference
def spam(agg):
    agg.append(1)
    agg.append(2) #레퍼런스에 의한 것
    
    agg=[4,5,6] #함수안에서 별도로 만든 것, 새로운 객체 생성
    agg.append(1)
    agg.append(2)
    
    
    print("함수:",agg)

In [17]:
ham=[0]
spam(ham)
print(ham)

함수: [4, 5, 6, 1, 2]
[0, 1, 2]

In [18]:
def test(t):
    print(x)
    t=20
    print("In Function:", t)

x=10
test(x)
print("In Main:", x)
print("In Main:", t)

10
In Function: 20
In Main: 10

NameError: name 't' is not defined

In [19]:
def f():  #가까운 것 부터 사용한다.
    s = "I love Londen!"
    print(s)

s="I love Paris!"
f()
print(s)

I love Londen!
I love Paris!

In [20]:
def f():
    global s
   #s ="I love Paris!" 
    s = "I love Londen!"
   #s = "I love Londen!"
    print(s)

s="I love Paris!"
#s ="I love Paris!" 
f()
#s = "I love Londen!"
print(s)

I love Londen!
I love Londen!

In [22]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [24]:
num = int(input("숫자입력: "))
print(factorial(num))

숫자입력: 10
3628800

In [33]:
def sum(x,y=1): 
    return x+y

In [34]:
def sum2(x=1,y): #디폴트변수를 앞에다 주지 않는다.
    return x+y

SyntaxError: non-default argument follows default argument (<ipython-input-34-b506545a6f43>, line 1)

In [32]:
print(sum(10))
print(sum(10,5))

11
15

In [36]:
list=[1,2,3,4]
a,b,*c=list
print(a,b,c)

1 2 [3, 4]

In [42]:
def sum3(x,y,*z): #tuple
    print(x,y,*z)

In [43]:
sum3(10,1,1)
sum3(10,5,1,1,1,2)

10 1 1
10 5 1 1 1 2

In [45]:
def kwargs_test(**kwargs):
    print(kwargs) #딕셔너리형
    print("First value is {first}".format(**kwargs))
    print("{first} and {second},{third}".format(**kwargs))
    
kwargs_test(first=1, second=2, third=3)

{'first': 1, 'second': 2, 'third': 3}
First value is 1
1 and 2,3

In [47]:
a='python'
a[0:-1]

'pytho'

# a*2

In [48]:
a*2

'pythonpython'

In [49]:
print('p' in a)

True

In [50]:
if 'o' in a:
    print('있습니다')
else:
    print('없습니다')

있습니다

In [53]:
a+str(3.7)

'python3.7'