In [2]:
#데이터분석
#Pandas index가 붙어 2차원 처럼 보인다
import numpy as np
import pandas as pd

In [ ]:
x=pd.Series([3,4,2,5,8])
print(x)
print(x[0])
x[0]=10
print(x[0])

In [ ]:
print(x.values)
print(x.index)

In [ ]:
x.index=['A','B','C','D','E']
x[0]=30
print(x)

In [ ]:
x2=pd.Series([3,4,2,4], index=['a','b','c','d'])
x2

In [ ]:
sdata={'kim':85,'lee':90,'park':50,'choi':75}
x3=pd.Series(sdata)
x3.name='Score'
x3.index.name='FirstName'
x3

In [ ]:
x3['kim']=50
               #or
print(x3[['kim','park']])
print(x3[['kim','park','choi']])
print(x3['kim':'park'])

In [ ]:
a=[1,2,3,1,4,3,2,1,5]
x=pd.Series(a)
print(x)
print(pd.unique(x))
print(x.mean())
print(x.sum())

In [6]:
#dataFrame 보통 딕셔너리 형태
name=['민준','현우','서연','동현','지현']
year=[2013,2014,2015,2016,2015]
points=[1.5,1.7,3.6,2.4,2.9]
data={'name':name,'year':year,'points':points}
print(data)

df=pd.DataFrame(data)
print(df)
df

{'name': ['민준', '현우', '서연', '동현', '지현'], 'year': [2013, 2014, 2015, 2016, 2015], 'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
  name  year  points
0   민준  2013     1.5
1   현우  2014     1.7
2   서연  2015     3.6
3   동현  2016     2.4
4   지현  2015     2.9

  name  year  points
0   민준  2013     1.5
1   현우  2014     1.7
2   서연  2015     3.6
3   동현  2016     2.4
4   지현  2015     2.9

In [ ]:
data=[name,year,points]
df=pd.DataFrame(data)
print(df)

data=zip(name,year,points)
df=pd.DataFrame(data,columns=['name','year','points'],index=['a','b','c','d','f'])
df['penalty']=[0.1,0.5,0.3,0.1,0.2]
print(df)

df2=pd.DataFrame({'name':name,'year':year,'points':points},index=['a','b','c','d','f'])
df2.index.name='num'
df2.columns.name='info'
df2

In [3]:
data = {"names": ["Kilho", "Kilho", "Kilho", "Charles", "Charles"], 
        "year": [2014, 2015, 2016, 2015, 2016], 
        "points": [1.5, 1.7, 3.6, 2.4, 2.9]} 
#index가 숫자가 아니라 문자라서 값이 없는 column 추가 가능
df = pd.DataFrame(data, columns=["year", "names", "points", "penalty"], 
                  index=["one", "two", "three", "four", "five"]) 
df

       year    names  points penalty
one    2014    Kilho     1.5     NaN
two    2015    Kilho     1.7     NaN
three  2016    Kilho     3.6     NaN
four   2015  Charles     2.4     NaN
five   2016  Charles     2.9     NaN

In [ ]:
df.describe()

In [15]:
name=['민준','현우','서연','동현','지현']
kor=[49, 79, 20, 100, 80]
math=[43, 59, 85, 30, 90]
eng=[49, 79, 48, 60, 100]

data1={'name':name,'kor':kor,'math':math,'eng':eng}
df1=pd.DataFrame(data1)
print(df1)

df1.describe()

  name  kor  math  eng
0   민준   49    43   49
1   현우   79    59   79
2   서연   20    85   48
3   동현  100    30   60
4   지현   80    90  100

              kor       math         eng
count    5.000000   5.000000    5.000000
mean    65.600000  61.400000   67.200000
std     31.325708  26.005769   22.174309
min     20.000000  30.000000   48.000000
25%     49.000000  43.000000   49.000000
50%     79.000000  59.000000   60.000000
75%     80.000000  85.000000   79.000000
max    100.000000  90.000000  100.000000

In [16]:
data2=zip(name,kor,math,eng)
df2=pd.DataFrame(data2,columns=['name','kor','math','eng'])
print(df2.describe())
df2

              kor       math         eng
count    5.000000   5.000000    5.000000
mean    65.600000  61.400000   67.200000
std     31.325708  26.005769   22.174309
min     20.000000  30.000000   48.000000
25%     49.000000  43.000000   49.000000
50%     79.000000  59.000000   60.000000
75%     80.000000  85.000000   79.000000
max    100.000000  90.000000  100.000000

  name  kor  math  eng
0   민준   49    43   49
1   현우   79    59   79
2   서연   20    85   48
3   동현  100    30   60
4   지현   80    90  100

In [17]:
df2.index=['a','b','c','d','e']
print(df2)
#index가 문자면 colmun비교 가능함
df2.loc[:,'name':'kor']
df2['sum']=df2.kor+df2.math+df2.eng
df2.loc[df2['sum']>=200,['name','sum']]

  name  kor  math  eng
a   민준   49    43   49
b   현우   79    59   79
c   서연   20    85   48
d   동현  100    30   60
e   지현   80    90  100

  name  sum
b   현우  217
e   지현  270

In [18]:
print(df2['name'])
print(df2.name)
print(df2.kor)
print(df2[['name','kor']])
# column은 순서가 없어 안된다 index처럼 순서가 있어야한다.
# print(df2['kor':'math'])

a    민준
b    현우
c    서연
d    동현
e    지현
Name: name, dtype: object
a    민준
b    현우
c    서연
d    동현
e    지현
Name: name, dtype: object
a     49
b     79
c     20
d    100
e     80
Name: kor, dtype: int64
  name  kor
a   민준   49
b   현우   79
c   서연   20
d   동현  100
e   지현   80

In [19]:
df2['avg']=0
df2['sum']=0
df2['sum']=df2.kor+df2.math+df2.eng
df2['avg']=df2['sum']/3
#필드를 만들어서 넣을 때는 되지 않음
df2.avg2=0
del df2['avg']
del df2['sum']
df2

  name  kor  math  eng
a   민준   49    43   49
b   현우   79    59   79
c   서연   20    85   48
d   동현  100    30   60
e   지현   80    90  100

In [20]:
df2['sum']=df2['kor']+df2['math']+df2['eng']
df2['avg']=df2.sum / 3
df2

TypeError: unsupported operand type(s) for /: 'method' and 'int'

In [21]:
df2['sum1']=df2['kor']+df2['math']+df2['eng']
df2['avg']=df2.sum1/3
df2

  name  kor  math  eng  sum  sum1        avg
a   민준   49    43   49  141   141  47.000000
b   현우   79    59   79  217   217  72.333333
c   서연   20    85   48  153   153  51.000000
d   동현  100    30   60  190   190  63.333333
e   지현   80    90  100  270   270  90.000000

In [22]:
print(df2[:3])

  name  kor  math  eng  sum  sum1        avg
a   민준   49    43   49  141   141  47.000000
b   현우   79    59   79  217   217  72.333333
c   서연   20    85   48  153   153  51.000000

In [23]:
df2[0:3:2]
print(df2.loc[:3,['name','kor']])
print(df2.loc[:,['name','kor']])

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [3] of <class 'int'>

In [7]:

df.index=[0,1,2,3,4]
df

  name  year  points
0   민준  2013     1.5
1   현우  2014     1.7
2   서연  2015     3.6
3   동현  2016     2.4
4   지현  2015     2.9

In [ ]:
##
#penalty 필드를 추가한다. 값=points*0.5
#net_point=points>2 
#모든 행의 이름과 points만 검색
#net_point 제거
#짝수행의 이름, point 검색
#모든행의 이름, point 검색
#모든행의 name~point 검색
#2<points<=3 검색

In [8]:
df['penalty']=df.points*0.5
print(df)
df['net_point']=df.points>2
print(df)
df.index=['a','b','c','d','e']
print(df.loc[:,['name','points']])
del df['net_point']
print(df.loc[::2,['name','points']])
print(df.loc[:,['name','points']])
print(df.loc[:,'name':'points'])
print(df.loc[(df.points>2) & (df.points<=3),['name','points']])

  name  year  points  penalty
0   민준  2013     1.5     0.75
1   현우  2014     1.7     0.85
2   서연  2015     3.6     1.80
3   동현  2016     2.4     1.20
4   지현  2015     2.9     1.45
  name  year  points  penalty  net_point
0   민준  2013     1.5     0.75      False
1   현우  2014     1.7     0.85      False
2   서연  2015     3.6     1.80       True
3   동현  2016     2.4     1.20       True
4   지현  2015     2.9     1.45       True
  name  points
a   민준     1.5
b   현우     1.7
c   서연     3.6
d   동현     2.4
e   지현     2.9
  name  points
a   민준     1.5
c   서연     3.6
e   지현     2.9
  name  points
a   민준     1.5
b   현우     1.7
c   서연     3.6
d   동현     2.4
e   지현     2.9
  name  year  points
a   민준  2013     1.5
b   현우  2014     1.7
c   서연  2015     3.6
d   동현  2016     2.4
e   지현  2015     2.9
  name  points
d   동현     2.4
e   지현     2.9

In [26]:
df.loc['f',:]=['길동',2020,3.6,1.5]
print(df)
#df.drop('컬럼명',axis=1)
#지우는 것은 꼭 다시 변수에 담아주여야한다!
print(df.drop('points',axis=1))
print(df)
#df.drop('로우명',axis=0)
print(df.drop('f',axis=0))
print(df)

  name    year  points  penalty
a   민준  2013.0     1.5     0.75
b   현우  2014.0     1.7     0.85
c   서연  2015.0     3.6     1.80
d   동현  2016.0     2.4     1.20
e   지현  2015.0     2.9     1.45
f   길동  2020.0     3.6     1.50
  name    year  penalty
a   민준  2013.0     0.75
b   현우  2014.0     0.85
c   서연  2015.0     1.80
d   동현  2016.0     1.20
e   지현  2015.0     1.45
f   길동  2020.0     1.50
  name    year  points  penalty
a   민준  2013.0     1.5     0.75
b   현우  2014.0     1.7     0.85
c   서연  2015.0     3.6     1.80
d   동현  2016.0     2.4     1.20
e   지현  2015.0     2.9     1.45
f   길동  2020.0     3.6     1.50
  name    year  points  penalty
a   민준  2013.0     1.5     0.75
b   현우  2014.0     1.7     0.85
c   서연  2015.0     3.6     1.80
d   동현  2016.0     2.4     1.20
e   지현  2015.0     2.9     1.45
  name    year  points  penalty
a   민준  2013.0     1.5     0.75
b   현우  2014.0     1.7     0.85
c   서연  2015.0     3.6     1.80
d   동현  2016.0     2.4     1.20
e   지현  2015.0     2.9     1.45
f   길동  2020.0     3.6     1.50

In [33]:
df2['org']=[10,4,np.nan,2.5,np.nan]
print(df2)
df2.dropna(how='any')
print(df2.loc['c']=[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan])

SyntaxError: keyword can't be an expression (<ipython-input-33-2a0a8abed00e>, line 4)