In [65]:
import cx_Oracle
import pymysql

In [42]:
def select_all():
    conn=cx_Oracle.connect("pgm/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product"
    cursor.execute(sql)
    for row in cursor:
        description=row[3].read() #CLOB로 저장된 데이터 읽기
        row_list=list(row)
        row_list[3]=description
        print(row_list)
    conn.close()

In [46]:
def insert_one():
    conn=cx_Oracle.connect("pgm/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1,:2,:3,:4,:5)"
    data=(4,'레몬',150,'레몬에 포함된 구연산은 피로회복에 좋습니다','lemon.jpg')
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [52]:
def insert_many():
    conn=cx_Oracle.connect("pgm/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1,:2,:3,:4,:5)"
    items=[
        (8,'오렌지',20000,'비타민 C가 풍부함','orange.jgp'),
        (9,'키위',20000,'비타민 C가 풍부함','kiwi.jgp'),
        (10,'귤',20000,'비타민 C가 풍부함','tangerine.jgp')
    ]
    #cursor.executemany(sql,items)
    for row in items:
        cursor.execute(sql,row)
        
    conn.commit()
    conn.close()

In [56]:
def delete_product():
    conn=cx_Oracle.connect("pgm/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="delete from product where product_id=:product_id"
    #sql="delete from product where product_id=:1"
    cursor.execute(sql,{'product_id':5})
    #cursor.execute(sql,(6))
    conn.commit()
    conn.close()

In [59]:
def update_product():
    price=int(input("price input: "))
    product_id=int(input("product_id input : "))
    conn=cx_Oracle.connect("pgm/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="update product set price=:1 where product_id=:2"
    data=(price,product_id)
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [63]:
def select_group():    
    conn=cx_Oracle.connect("pgm/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="""select product_name,count(*) cnt,sum(price) sum 
    from product group by product_name"""
    cursor.execute(sql)
    for row in cursor:
        print(row)
    conn.close()

In [64]:
#insert_one()
#insert_many()
#delete_product()
#update_product()
#select_all()
select_group()

('키위', 2, 40000)
('사과 ', 1, 10000)
(' 배 ', 1, 20000)
('오렌지', 1, 20000)
('포 도', 1, 5000)
('귤', 2, 40000)
('레몬', 1, 150)

In [68]:
def mysql_select_all():
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="select * from student"
    cursor.execute(sql)
    for row in cursor:
        print(row)
        
    conn.close()

In [74]:
def mysql_insert_one(t):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="insert into student(name,major,age) values('%s','%s',%s)"%('a','b',20)
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [80]:
def mysql_insert_one2(t):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="insert into student(name,major,age) values(%s,%s,%s)"
    cursor.execute(sql,t)
    conn.commit()
    conn.close()

In [91]:
def mysql_insertmany(itmes):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="insert into student(name,major,age) values(%s,%s,%s)"
    cursor.executemany(sql,itmes)
    conn.commit()
    conn.close()

In [95]:
def mysql_update(data):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="update student set major=%s, age=%s where sno=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [101]:
def mysql_updatemany(items):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    
    sql="update student set major=%s, age=%s where sno=%s"
    
    cursor.executemany(sql,items)
    conn.commit()
    conn.close()

In [103]:
def mysql_delete(data):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="delete from student where sno=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [105]:
def mysql_deletemany(data):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="delete from student where sno=%s"
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

In [106]:
items=[('경영',25,1),('영문',22,2),('math',26,3)]
#data=('정통',21,1)
#mysql_insertmany(items)
#mysql_updatemany(items)
mysql_deletemany([2,3])
mysql_select_all()

(4, 'a', 'b', 20)
(5, 'kim', '경영', 25)
(6, 'kim', '경영', 25)
(7, 'lee', '영문', 22)
(8, 'choi', 'math', 26)

In [113]:
def books_select_all():
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    for row in cursor:
        print(row)
    conn.close()

In [115]:
def books_insertone(data):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="insert into books(title,author,publish) values(%s,%s,%s)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [120]:
def books_insertmany(items):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="insert into books(title,author,publish) values(%s,%s,%s)"
    cursor.executemany(sql,items)
    conn.commit()
    conn.close()

In [122]:
def books_updatemany(items):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="update books set author=%s, publish=%s where bno=%s"
    cursor.executemany(sql,items)
    conn.commit()
    conn.close()

In [124]:
def books_deletemany(items):
    conn=pymysql.connect(host='localhost',
                         user='pgm',password='1234',
                         db='pyboard',charset='utf8')
    cursor=conn.cursor()
    sql="delete from books where bno=%s"
    cursor.executemany(sql,items)
    conn.commit()
    conn.close()

In [125]:
#data=('jsp프로그래밍','성윤정','성안당')
items=[('Spring','구멍가게코딩단','남가람북스'),
       ('Hadoop','kkk','한빛')]
up_items=[
    ('박경미','길벗',5),
       ('홍길동','영진',6)
]
#books_insertmany(items)
#books_updatemany(up_items)
books_deletemany([5,6])
books_select_all()

(1, '빅데이터분석', '조준모', '인피니티')
(2, '자바프로그래밍', '황기태', '생능')
(3, '오라클', '서진수', '생능')
(4, 'jsp프로그래밍', '성윤정', '성안당')